.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
  text-align: right;
  padding-right: 10px;
}
.text{
  width: 480px;
}
.textarea {
  width: 480px;
}
.submit_button{
  text-align: center;
}
.submit_button:hover{
  opacity: 0.6;
}
.submit_button input{
　margin: 30px;
  padding: 10px ;
  font-size: 2.5rem;
  color: #fff;
  border-style: none;
  background-color: pink;
}

/*チェック
教材のHTML・CSS入門演習を参考にしながら実装していく。OK
CSSは外部CSSファイルを用意して記述する。OK
リセットCSSを使用する。OK
仕様書の設計通りに実装する。OK
formタグとtableタグを組み合わせる。OK
送信ボタンにマウスオーバーすると、半透明になるようにする。（送信ボタンは好きな色で可）・
入力フォームを長くするOK
*/

/*できたけれど疑問におもった点
・送信ボタンの四角のサイズと文字のサイズを、
設計書に近くなるように数字をあてはめて確認して、
で調整したが、もっと良い方法があるのではないか。
・[submit_button]と[submit_button input]の範囲のちがいはなに？ */
