<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
      <h1>ゴーヤの記録</h1>
      <p>このサイトでは、つくったゴーヤの情報を閲覧できます</p>
      <% require 'pg' %>
      <% connection = PG::connect(dbname: "goya") %>
      <% connection.internal_encoding = "utf-8" %>
      <% result = connection.exec("select give_for,weight,length from crops WHERE give_for != '自家消費';")%>
      <% data = [] %>
      <% result.each do |record| %>
        <% data << "譲渡先：#{record["give_for"]} ゴーヤの重さ：#{record["weight"]} ゴーヤの長さ：#{record["length"]}"%>
      <% end %>
      <form class="" action="not_self.cgi" method="post">
        ①下記のボタンを押すと、ゴーヤの譲渡先と重さ・長さの情報ページに飛びます。<br><br>
        <input type="text" name="not_self" value="<%= data.join('' )%>">
        <input type="submit" name="送信">
      </form>
      <% result = connection.exec("select weight,length,date from crops WHERE quality = false;")%>
      <% data = [] %>
      <% result.each do |record| %>
        <% data << "ゴーヤの重さ：#{record["weight"]} ゴーヤの長さ：#{record["length"]} 収穫日：#{record["date"]}"%>
      <% end %>
      <form class="" action="false.cgi" method="post">
        ②下記のボタンを押すと、品質が悪かったゴーヤの情報ページに飛びます。<br><br>
        <input type="text" name="false" value="<%= data.join('' )%>">
        <input type="submit" name="送信">
      </form>
  </body>
</html>
